<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flood Relieff</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>


<script>
     $(document).ready(function(){
 $('#load').hide();
 });
 </script>
  <script>
     $(function() {
    $('#sub').on('click',function(e) {
        $('body').trigger('click');
        e.preventDefault();
        $('#load').show();
        $.ajax({
            url: '/req1',
            data: $('form').serialize(),
            type: 'POST',
            success: function(response) {
            var out=$.parseJSON(response);
            var ind=out.id;
                var keys = [];
                for(var k in ind)
                    keys.push(k);

                if(keys.length!=0){

                 var pa=document.getElementById('out');
                 var rangeObj = new Range();
                rangeObj.selectNodeContents(pa);
                 rangeObj.deleteContents();

                for(var id in keys){

                    pa.appendChild(document.createElement('br'));

                    var div=document.createElement("div");// id="+id+"class='oot'style='background:#dde0db;width:25%;height:20%;border: 2px solid #d4dbdb;border-radius: 7px;'" )
                    div.setAttribute("id",id);
                    div.setAttribute("class","oot");
                    div.setAttribute("style","background:#dde0db;width:25%;height:20%;border: 2px solid #d4dbdb;border-radius: 7px;");

                    div.appendChild(document.createTextNode('Name:'+out.name[id]));div.appendChild(document.createElement('br'));
                    div.appendChild(document.createTextNode(' Address:'+out.address[id]));div.appendChild(document.createElement('br'));
                    div.appendChild(document.createTextNode(' Camp:'+out.camp[id]+'\n'));

                    pa.appendChild(div);

                   }


                }
                else{
                console.log('no result');
                var pa=document.getElementById('out');
                var rangeObj = new Range();
                rangeObj.selectNodeContents(pa);
                 rangeObj.deleteContents();
                var div=document.createElement("div");
                div.appendChild(document.createTextNode('No results'));
                 pa.appendChild(div);


                    }
                $('#load').hide();
            },
            error: function(error) {
                console.log(error);
                $('#load').hide();
            }
        });
    });
});
 </script>



<style>
     .button:hover {

    color: white;
     box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 8px 25px 0 rgba(0,0,0,0.19);
     cursor: pointer;
}


.oot:hover{
box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 8px 25px 0 rgba(0,0,0,0.19);
cursor: pointer;
}
 </style>

     <div class="container" align="center">

         <form  action="/" method="post" role="form">
             <h2 style="color:#659ba0;">Flood Relief </h2>
             <input id="inp" name="inp" align="center"style="width:500px ;height:30px;" class="form-control" autocomplete="off" placeholder="Type the name of the person" required autofocus>
            <button id="sub" class="button" style="background:#dde0db;border: 2px solid #d4dbdb;border-radius: 7px;width:45px;height:40px;outline:none;">find</button>

<div   id="out" align="center" ></div>

<img src=" /static/ll.gif" style=" height:6%;width:6%;" id="load">
         </form>

     </div>

 </body>

</html>